@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 315 100% 99%;
    --foreground: 255 7% 11%;
    --card: 315 100% 99%;
    --card-foreground: 255 7% 11%;
    --popover: 315 100% 99%;
    --popover-foreground: 255 7% 11%;
    --primary: 256 34% 48%;
    --primary-foreground: 0 0% 100%;
    --primary-container: 272 100% 94%;
    --on-primary-container: 272 100% 18%;
    --secondary: 259 11% 40%;
    --secondary-foreground: 0 0% 100%;
    --secondary-container: 270 44% 92%;
    --on-secondary-container: 256 23% 13%;
    --surface: 0 0% 100%;
    --surface-container: 283 48% 95%;
    --surface-container-high: 286 45% 93%;
    --muted: 275 24% 90%;
    --muted-foreground: 264 7% 29%;
    --accent: 340 21% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 71% 41%;
    --destructive-foreground: 0 0% 100%;
    --border: 275 24% 90%;
    --input: 275 24% 90%;
    --ring: 256 34% 48%;
    --radius: 1rem;
    --chart-1: 256 34% 48%;
    --chart-2: 259 11% 40%;
    --chart-3: 340 21% 41%;
    --chart-4: 3 71% 41%;
    --chart-5: 275 24% 90%;

    --highlight: 256 34% 48%;
    --highlight-foreground: 0 0% 100%;
  }

  .dark {
    --background: 255 7% 11%;
    --foreground: 312 9% 89%;
    --card: 255 7% 11%;
    --card-foreground: 312 9% 89%;
    --popover: 255 7% 11%;
    --popover-foreground: 312 9% 89%;
    --primary: 258 100% 87%;
    --primary-foreground: 259 58% 28%;
    --primary-container: 257 43% 39%;
    --on-primary-container: 272 100% 94%;
    --secondary: 263 27% 81%;
    --secondary-foreground: 258 18% 22%;
    --secondary-container: 266 14% 31%;
    --on-secondary-container: 272 100% 92%;
    --surface: 255 7% 11%;
    --surface-container: 255 8% 13%;
    --surface-container-high: 267 9% 16%;
    --muted: 264 7% 29%;
    --muted-foreground: 270 11% 79%;
    --accent: 343 63% 83%;
    --accent-foreground: 338 33% 22%;
    --destructive: 3 70% 83%;
    --destructive-foreground: 3 71% 22%;
    --border: 264 7% 29%;
    --input: 264 7% 29%;
    --ring: 258 100% 87%;
    --chart-1: 258 100% 87%;
    --chart-2: 263 27% 81%;
    --chart-3: 343 63% 83%;
    --chart-4: 3 70% 83%;
    --chart-5: 264 7% 29%;

    --highlight: 258 100% 87%;
    --highlight-foreground: 259 58% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[hsl(var(--surface))] text-foreground;
  }
}
